/* Loader Component Styles */
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.loaderContainer.small {
  min-height: 50px;
}

.loaderContainer.large {
  min-height: 400px;
}

.spinner {
  border: 4px solid rgba(255, 165, 0, 0.3);
  border-top: 4px solid #ffa500;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.small .spinner {
  width: 24px;
  height: 24px;
  border-width: 2px;
}

.large .spinner {
  width: 60px;
  height: 60px;
  border-width: 4px;
}
